.nav-items {
    display: flex;
}
ul.nav-items li {
    padding: 20px;
}
.login-button {
    color:black ;
    font-size: 23px;
}
.logo {
    padding: 20px 10px 10px 40px;
    flex: 2;
}

.navitem {
    display: flex;
}
.menu {
    display: flex;
    align-items: center;
}
.menu li {
    padding: 10px;
}
.menu li a {
    color: black;
}