<nav>
    <div class="container">
            <div class="navitem">

            <li class="logo">Logo</li>
            <ul class="menu">
                    <li><a routerLink="/teachers" > Find a Teacher</a></li>  
                    <li><a href="">Comunity</a></li>
                    <li><a routerLink="/register">Sing up</a></li>      
                    <li><a routerLink="/login">LogIn</a></li>          
            </ul>
        </div>      
    </div>
</nav>
<div class="container">

</div>