<div class="register">

    <div class="side">
        <img src="../../../assets/undraw_job_offers_kw5d.svg" alt="">
    </div>
    <div class="form">
        <form [formGroup]="loginForm" (submit)="login()">
            <h3>Get more things done with
                Loggin platform.
            </h3>
            <p>
                Access to the most powerfull tool in the entire design and web industry.
            </p>
            <div class="control-field">
                <input id="credential" type="text" formControlName="credential" placeholder="Enter Your User Name / Email">
            </div>

            <div class="control-field">
                <input id="password" type="password" formControlName="password" placeholder="Enter Your Password">
            </div>

            <button class="button" type="submit">Login</button>
            <!-- <span>sign with facebook</span>
            <i class="fab fa-facebook-square"></i> -->


        </form>
    </div>

</div>